body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial;
    font-size: 12px;
}

a:link {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.modal {
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #000;
    background-color: rgba(0,0,0,.4)
}

.otimkiem {
    border-right: 1px solid #95b8e7;
    padding: 10px
}

.banner {
    width: 100%;
    height: 90px;
    background-image: url(../image/bg_banner.png);
    background-repeat: repeat-x
}

.bannerimge {
    height: 100px;
    width: 1000px;
    margin: auto;
    background-image: url(../image/banner.png);
    background-repeat: no-repeat;
    background-position: center top
}

.content {
    width: 1200px;
    margin: auto;
    border: #ccc 2px solid;
    border-radius: 5px;
    padding: 10px;
    display: table
}

.info {
    width: 400px;
    float: left;
    border: #ccc 2px solid;
    border-radius: 5px
}

.chucnang {
    width: 700px;
    float: left;
    border: #ccc 2px solid;
    margin-left: 10px;
    border-radius: 5px
}

.info table {
    width: 100%
}

.info table td {
    border-top: 1px dashed #ccc;
    font-size: 10pt;
    line-height: 22px
}

.infohead {
    float: right;
    line-height: 30px
}

.chucnangitem {
    width: 200px;
    margin-right: 10px;
    float: left;
    height: 100px
}

.chucnangitem img {
    height: 70px
}

.footer {
    margin: auto;
    margin-top: 20px;
    border-top: #ccc 1px solid;
    border-bottom: #ccc 1px solid
}
