.icon-phancapkh {
    background: url(../themes/icons/icon_pckh.png) no-repeat center center;
    background-size: 100% 100%
}

.icon-gioihancn {
    background: url(icons/icon_gioihancn.png) no-repeat center center;
    background-size: 100% 100%
}

.icon-nhomkh {
    background: url(icons/icon_nhomkh.png) no-repeat center center;
    background-size: 100% 100%
}

.icon-dsnhanvien {
    background: url(icons/icon-user.png) no-repeat center center;
    background-size: 100% 100%
}
